{% extends "admin_base.html" %}
{% block head %}
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this show?");
        }
    </script>
{% endblock %}
{% block content %}
    <div style="display: flex; align-items: center;">
        <h2>All Shows</h2>
        <a href="{{ url_for('insert_show') }}" class="material-icons" style="color: #28a745; text-decoration: none; margin-left: 10px; cursor: pointer; font-size: 1.5rem; transition: color 0.3s;">add_circle</a>
    </div>
    <table class="styled-table">
        <tr>
            <th>Show Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Wheelchair Accessible</th>
            <th>Price</th>
        </tr>
        {% for show in shows %}
        <tr>
            <td>{{ show.name }}</td>
            <td>{{ show.description }}</td>
            <td>{{ show.type }}</td>
            <td>{{ show.start_time }}</td>
            <td>{{ show.end_time }}</td>
            <td>{{ show.wheelchair_accessible }}</td>
            <td>{{ show.price }}</td>
            <td><a href="{{ url_for('update_show', show_id=show.show_id) }}" class="material-icons" style="color: #007BFF; text-decoration: none; margin: 4px 2px; cursor: pointer; font-size: 1.5rem; transition: color 0.3s;">edit</a></td>
            <td><a href="{{ url_for('delete_show', show_id=show.show_id) }}" class="material-icons" style="color: #d9534f; text-decoration: none; margin: 4px 2px; cursor: pointer; font-size: 1.5rem; transition: color 0.3s;" onclick="return confirmDelete();">delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
