{% extends "base.html" %}
{% block content %}
    <div class="content">
        <h1>My Records</h1>

        <h2>Tickets</h2>
        <table class="styled-table">
            <tr>
                <th>Ticket Method</th>
                <th>Purchase Date</th>
                <th>Price</th>
                <th>Visit Date</th>
                <th>Type</th>
            </tr>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.ticket_method }}</td>
                <td>{{ ticket.purchase_date }}</td>
                <td>{{ ticket.price }}</td>
                <td>{{ ticket.visit_date }}</td>
                <td>{{ ticket.type }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Shows</h2>
        <table class="styled-table">
            <tr>
                <th>Show Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Start Time</th>
                <th>End Time</th>
                <td>Wheelchair Accessible</td>
                <th>Price</th>
            </tr>
            {% for show in shows %}
            <tr>
                <td>{{ show.name }}</td>
                <td>{{ show.description }}</td>
                <td>{{ show.type }}</td>
                <td>{{ show.start_time }}</td>
                <td>{{ show.end_time }}</td>
                <td>{{ show.wheelchair_accessible }}</td>
                <td>{{ show.price }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Attractions</h2>
        <table class="styled-table">
            <tr>
                <th>Attraction Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Status</th>
                <th>Capacity</th>
                <th>Minimum Height</th>
                <th>Duration(minutes)</th>
                <th>Location</th>
            </tr>
            {% for attraction in attractions %}
            <tr>
                <td>{{ attraction.attraction_name }}</td>
                <td>{{ attraction.description }}</td>
                <td>{{ attraction.type }}</td>
                <td>{{ attraction.status }}</td>
                <td>{{ attraction.capacity }}</td>
                <td>{{ attraction.minimum_height }}</td>
                <td>{{ attraction.duration_in_minutes }}</td>
                <td>{{ attraction.location_section }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Parkings</h2>
        <table class="styled-table">
            <tr>
                <th>Parking Lot</th>
                <th>Spot Number</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Fee</th>
            </tr>
            {% for parking in parkings %}
            <tr>
                <td>{{ parking.lot }}</td>
                <td>{{ parking.spot_number }}</td>
                <td>{{ parking.time_in }}</td>
                <td>{{ parking.time_out }}</td>
                <td>{{ parking.fee }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Orders</h2>
        <table class="styled-table">
            <tr>
                <th>Store Name</th>
                <th>Order Date</th>
                <th>Quantity</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ order.store_name }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.quantity }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Payments</h2>
        <table class="styled-table">
            <tr>
                <th>Payment Date</th>
                <th>Payment Amount</th>
                <th>Payment Method</th>
            </tr>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.payment_date }}</td>
                <td>{{ payment.payment_amount }}</td>
                <td>{{ payment.payment_method }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

