<!-- purchase_ticket.html -->
{% extends "base.html" %}
{% block content %}
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, sans-serif;
    }
    .form-container {
        text-align: center;
    }
    .form-wrapper {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
    }
    label {
        font-size: 1.1rem;
        font-weight: bold;
    }
    input[type="text"], input[type="password"], input[type="cell_number"], input[type="email_address"], input[type="number"], .form-control, textarea, select {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
    }
    input[type="submit"] {
        background-color: #007BFF;
        border: none;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 5px;
        width: 100%;
        transition: background-color 0.3s;
    }
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
<div class="form-container">
    <div class="form-wrapper">
        <h1>Purchase Ticket</h1>
        <form method="POST" action="{{ url_for('purchase_ticket') }}">
            {{ form.hidden_tag() }}
            <p>{{ form.ticket_type.label }}<br>{{ form.ticket_type }}</p>
            <p>{{ form.visit_date.label }}<br>{{ form.visit_date }}</p>
            <p>{{ form.price.label }}<br>{{ form.price }}</p>
            <p>{{ form.submit }}</p>
        </form>
    </div>
</div>
{% endblock %}
